<div>

  <input class="input" #Title type="text" [(ngModel)] = "title" placeholder="Title...">
  <input class="input" type="text" [(ngModel)] = "text" placeholder="Text...">
  <input class="input" type="text" [(ngModel)] = "Search" [placeholder]="SearchTitleText">

  <button class="btn" (click) = "addPost()">Создать пост</button>
  <button class="btn" (click) = "removePost()">Удалить пост</button>
  <button class="btn" (click) = "focusInputTitle()">Перейти к полю Title</button>
  <button class="btn" (click) = "SearchTitleText = 'title'" (click) = "SearchTitle()">Поиск по Titles</button>
  <button class="btn" (click) = "SearchTitleText = 'text'"  (click) = "SearchText()">Поиск по Texts</button>

</div>
