<div class="container">
  <h1>Cоздать пост</h1>

  <app-post-form
    (TitleText) = 'serchText($event)'
    (send)= "serch($event)"
    (onAdd) = "addPost($event)"
    (onRemov) = "removePost()"
  >
  </app-post-form>

  <hr>

  <app-post
    *ngFor = "let post of posts | filter:Search:SearchTitleText"
    [post] = "post"
    (onDeletPost) = "delete($event)"
  >
  <small [ngStyle]="{
    color:'green'
  }" *ngIf="post.text.length > 20; else small">Много текста</small>

  <ng-template #small>
    <small [ngStyle]="{
      color:'red'
    }">Мало текста</small>
  </ng-template>

  </app-post>

</div>
